*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  background-image: url(../img/back.jpg);
  background-position: bottom center;
  background-size: contain contain;
  background-repeat: no-repeat;
}

.page {
  font-family: $font-family;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    padding-top: 125px;
  }
  
  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
  }

  &__footer-wrapper {
    display: flex;
    flex-grow: 1;
  }
}

.header {

  &__text {
    margin-bottom: 45px;
    text-align: center;
    font-size: $font-size;
    color: $text-color;
  }
}

.logo {

  &__link {
    display: flex;
    flex-direction: row;
    justify-content: center;

    img {
      display: block;
      max-width: 100%;
    }
  }
}

.title {
  margin-top: 83px;
  margin-bottom: 21px;
  text-align: center;
  color: $main-color;
  font-family: 'FuturaPT Medium', 'Trebuchet', Arial, sans-serif;
  font-size: 30px;
}

.text {
  text-align: center;
  color: $text-color;
  font-family: $font-family;
  font-size: $font-size;
}

.offer {
  margin-top: 60px;

  &__checkbox {
    display: none;
  }

  &__checkbox-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    min-height: 80px;
    margin-bottom: 20px;
    font-family: 'FuturaPT Medium', 'Trebuchet', Arial, sans-serif;
    font-size: $font-size;
    color: $text-color;
    background: linear-gradient(45deg, rgb(242,242,242) 0%, rgb(253,253,253) 74%);
    box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.09);
    cursor: pointer;
  }
  
  &__label {
    display: block;
    position: relative;
    z-index: 5;
    width: 100%;
    height: 100%;
    text-align: center;

    &:before {
      content: '';
      display: none;
      position: absolute;
      z-index: 0;
      top: -30px;
      left: -4px;
      width: 100%;
      height: 80px;
      border: 2px solid $warning-color;
    }
  }

  &__submit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 34px;
    margin-bottom: 15px;
    padding: 12px 30px;
    border: 0;
    outline: 0;
    background-color: $warning-color;
    color: #fff;
    font-family: $font-family;
    font-size: 16px;
    cursor: pointer;
  }

  &__mailto {
    text-align: center;
    font-size: 14px;
    color: $text-color;

    &-link {
      font-family: 'FuturaPT Demi', 'Trebuchet', Arial, sans-serif;
      color: $text-color;
      text-decoration: none;
    }
  }
}

.comment {
  margin: 112px auto 80px auto;
  max-width: 820px;
  text-align: center;
  color: $text-color;
  font-size: 14px;
  line-height: 18px;
}
