* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  background-image: url(../img/back.jpg);
  background-position: bottom center;
  background-size: contain;
  background-repeat: no-repeat;
}

.page {
  font-family: $font-family;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding-top: 45px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
  }

  &__footer-wrapper {
    display: flex;
    flex-grow: 1;
  }
}

.header {

  &__text {
    margin-bottom: 45px;
    text-align: center;
    font-size: $font-size;
    color: $text-color;
  }
}

.logo {

  &__link {
    display: flex;
    flex-direction: row;
    justify-content: center;

    &--left {
      animation: 1s ease bounceInLeft;
    }

    &--right {
      animation: 1s ease bounceInRight;
    }

    &:hover {
      transform: scale3d(1.05, 1.05, 1.05);
    }

    img {
      display: block;
      max-width: 100%;
    }
  }
}

.title {
  margin-top: 83px;
  margin-bottom: 21px;
  text-align: center;
  color: $main-color;
  font-family: 'FuturaPT Medium', 'Trebuchet', Arial, sans-serif;
  font-size: 30px;
}

.text {
  text-align: center;
  color: $text-color;
  font-family: $font-family;
  font-size: $font-size;
}

.offer {
  margin-top: 60px;

  &__wrap {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    min-height: 80px;
    margin-bottom: 20px;
    font-family: 'FuturaPT Medium', 'Trebuchet', Arial, sans-serif;
    font-size: $font-size;
    color: $text-color;
    background: linear-gradient(45deg, rgb(242,242,242) 0%, rgb(253,253,253) 74%);
    box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.09);
    animation:zoomIn 1s ease;
  }
  
  &__text {
    display: block;
    position: relative;
    z-index: 5;
    text-align: center;
  }

  &__button {
    display: block;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-top: 34px;
    margin-bottom: 15px;
    padding: 12px 30px;
    border: 0;
    outline: 0;
    background-color: $warning-color;
    color: #fff;
    font-family: $font-family;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      background: linear-gradient(-45deg, #fe9752, $warning-color,#ff1f17);
      background-size: 400% 400%;
      animation: gradient 3s ease infinite;
      box-shadow: 1px 1px 10px $warning-color;
      
      @keyframes gradient {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }
    }
  }

  &__mailto {
    text-align: center;
    font-size: 14px;
    color: $text-color;

    &-link {
      font-family: 'FuturaPT Demi', 'Trebuchet', Arial, sans-serif;
      color: $text-color;
      text-decoration: none;

      &:hover {
        color: $warning-color;
      }
    }
  }
}

.comment {
  margin: 112px auto 80px auto;
  max-width: 820px;
  text-align: center;
  color: $text-color;
  font-size: 14px;
  line-height: 18px;
}

// ======================== PAD ======================== 

@media (max-width: $screen-md) {

  body {
    background-size: 100%;
  }

  .page {

    &__inner {
      padding-top: 30px;
    }
  } 

  .logo {
  
    &__link {
      width: 250px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .title {
    margin-top: 50px;
    margin-bottom: 20px;
  }
  
  .comment {
    margin-bottom: 60px;
  }
}


// ======================== MOBILE ======================== 
@media (max-width: $screen-xs) {

  .body {
    background-size: 100%;
  }

  .page {

    &__inner {
      padding-top: 30px;
    }
  }

  .header {

    &__text {
      margin-bottom: 20px;
      font-size: $font-size-sm;
    }
  }
  
  .logo {
  
    &__link {
      width: 250px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  .title {
    margin-top: 33px;
    margin-bottom: 11px;
    font-size: 24px;
  }
  
  .text {
    font-size: $font-size-sm;
  }
  
  .offer {
    margin-top: 35px;
  
    &__wrap {
      min-height: 70px;
      margin-bottom: 21px;
      font-size: 16px;
    }

    &__button {
      margin-top: 12px;
      padding: 7px 22px;
    }

    &__mailto {
      font-size: 12px;
    }
  }
  
  .comment {
    margin-top: 64px;
    margin-bottom: 60px;
    font-size: 12px;
  }
}